.borrowlist-content .book-item {
    display: flex; /* Așezarea elementelor pe orizontală */
    margin-bottom: 20px; /* Spațiere între cărți */
    margin-left: 20px;
    border: 1px solid #ccc; /* Bordură de 1 pixeli de culoare gri */
    width: 50%;
    background-color: rgb(229, 212, 233);
    cursor: pointer;
  }
  
  .daysleft-p{
    font-style: italic;
  }
  
  .red-text {
    color: red;
    font-weight: bold;
  }
  
  .blue-text {
    color: blue;
    font-weight: bold;
  }
  
  .borrow-buttons-container button{
    margin-right: 25px;
  }
  
  .borrowlist-content .extend-term-button{
    margin-top: 5px;
    background-color: #007bff; /* Culorile butonului */
    color: white; /* Culoarea textului butonului */
    border: none; /* Eliminarea marginii butonului */
    padding: 7px 10px; /* Spatiere interioara */
    cursor: pointer; /* Cursor de tip pointer la hover */
    border-radius: 5px; /* Borda rotunda */
    outline: none; /* Eliminarea stilului de contur */
    text-align: center; /* Alinierea textului la centru */
    font-size: medium;
    
  }
  
  .borrowlist-content .return-button{
    margin-top: 8px;
    background-color: #69a32b; /* Culorile butonului */
    color: white; /* Culoarea textului butonului */
    border: none; /* Eliminarea marginii butonului */
    padding: 7px 10px; /* Spatiere interioara */
    cursor: pointer; /* Cursor de tip pointer la hover */
    border-radius: 5px; /* Borda rotunda */
    outline: none; /* Eliminarea stilului de contur */
    text-align: center; /* Alinierea textului la centru */
    font-size: medium;
}

.book-item .borrow-buttons-container h4{
  color: red;
}

.buttons-prel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.extend-btn-borrow {
  margin-top: 10px;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}
 
.extend-btn-borrow::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}
 
.extend-btn-borrow:hover::before {
  width: 9em;
}

.cancel-btn-borrow {
  margin-top: 12px;
  --color: red;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 16px;
  position: relative;
}

.cancel-btn-borrow::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.cancel-btn-borrow:hover {
  color: white;
}

.cancel-btn-borrow:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.cancel-btn-borrow:hover::before {
  top: -30px;
  left: -30px;
}

  
  