.book-details{
    display: flex;
    justify-content: space-between;
    height: 70vh;
}


.carousel-container {
  flex:4;
  display: flex;
  justify-content: center; /* Centrare pe axa orizontală */
  align-items: center; /* Centrare pe axa verticală */
  margin-top: -40px;
}

.details-container {
    flex:6;
    
}

.specific-book-details{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 100vh;
    /* margin-top: 90px;    */
}

.specific-book-details h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 75px;
    margin-left: 80px;
}

.specific-book-details h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 40px;
    font-weight: lighter
}

.specific-book-details h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 40px;
    margin-top: 20px;

}

.book-description {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px; /* Spațiere de la partea de sus */
}

.description-sentence {
    margin-bottom: 10px; /* Spațiere între propoziții */
}

.rating-book{
    margin-left: 37px;
}


.carousel{

    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    margin-left: 60px;
    margin-top: -20px;
    
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.slide-hidden{
    display: none;
}

.arrow{
    position: absolute;
    width: 1.5rem;
    height: 2rem;
    color: rgb(248, 212, 224);
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover{
    cursor: pointer;
}

.arrow-left{
    left: 0.2rem;
}

.arrow-right{
    right: 0.2rem;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive{
    background-color: gray;
}

.line{
    display: flex;
}

.emoji-div{
    display: flex;
    padding-left: 25px;
    flex:4;
}

.input-emoji{
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 5px;
}

.button-book {
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
}


.button_lend{
    margin-left: 70px;
    margin-right: 40px;

}

/* Stilurile pentru butonul de wishlist */
.button_wishlist {
    display: inline-flex; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #ff5252; 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}


.button_wishlist::before {
    content: "\2764"; 
    font-size: 24px;
    margin-right: 5px; 
}


.button_wishlist:hover {
    background-color: #ff6b6b; 
}


/* Stilurile pentru butonul de imprumut */
.button_lend {
    display: inline-flex; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #4285f4; 
    color: #fff;
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}

.button_lend::before {
    content: "\2B07"; 
    font-size: 24px;
    margin-right: 5px; 
}


.button_lend:hover {
    background-color: #3367d6; 
}


  
