.add-book-container{
    max-width: 600px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}

.add-book-container h1 {
text-align: center;
margin-bottom: 20px;
}

.add-book-container form {
display: flex;
flex-direction: column;
}

.add-author-container label {
margin-bottom: 10px;
}

.add-book-container input {
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

.add-book-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }

.add-book-container button {
width: 100%;
padding: 10px;
margin-top: 10px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.add-book-container button:hover {
background-color: #0056b3;
}