.homepage {
    display: flex;
    justify-content: space-between;
    z-index: 0;
    min-width: 100%;
    min-height: 100vh;
}

.home-container-filter{
    height: 100vh;
    width: 450px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: aliceblue;
    align-items: center;
} 

input[type="checkbox"]{
    margin-left: 10px;
    margin-top: 10px;
}

label{
    font-weight: bold;
    margin-left: 5px;
}

.home-container-list{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.titluuu{
    justify-content: center;
    color: palevioletred;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.titluu-sortare {
    margin-top: 90px;
    color: palevioletred;
    font-size: 40px;
    margin-bottom: 30px;
    /* text-align: center; */
    margin-left: 45px;
}

.home-container-filter p{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}



.home-container-filter select{
    width: 70%; 
    height: 30px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    text-align: center;
    font-family: Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #fee0e0;
    border-radius: 10px;
}

.home-container-filter select option{

    background-color: #fceef0
}

.home-container-filter select option:hover{
    background-color: #fbd6d6;
}

.slider {
    position: relative;
    width: 100%;
    height: 20px; 
    z-index: 0;
    display: inline-block; 
}

.min-range,
.max-range {
    position: absolute;
    width: calc(50% -35px); 
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    z-index: 2;
    outline: none;
    border: none; 
    top: 50%; 
}

.min-range::-webkit-slider-runnable-track,
.max-range::-webkit-slider-runnable-track {
    background: #040404; 
    height: 4px;
    width: 5px;
    border-radius: 2px;
}

.min-range::-webkit-slider-thumb,
.max-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; 
    height: 12px; 
    background: #ffb6c1; 
    border-radius: 50%;
    cursor: pointer;
    top: 48%; 
    transform: translateY(-40%); 
}

.filter-min,
.filter-max {
    width: 116px; 
    height: 20px;
    text-align: center;
    
    
}

.slider input[type="text"]{
    margin-top: 30px;
}

.slider input[type="range"]{

    margin-top: -5px;
}

.container-filter input[type="text"]{
    margin-bottom: 10px;
    margin-left: 10px;
}

button.learn-more {
    position: absolute;
    display: flex;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 60px;
}

button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 0.75em 1.5em; 
    background: #fff0f0;
    border: 1px solid #b18597; 
    border-radius: 0.5em; 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}
   
button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
   
button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
} 

  




