.profile-container {
  display: flex;
  justify-content: space-between; /* Așază conținutul la capetele containerului */
  align-items: flex-start; /* Așază conținutul la începutul containerului */
}

/* Stiluri pentru panoul stâng */
.left-panel {
  background-color: aliceblue; /* Culoare de fundal pentru panoul stâng */
  padding: 20px; /* Spațiere internă */
  width: 300px; /* Lățimea panoului stâng */
}

.left-panel h1{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.left-panel h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* Stiluri pentru opțiunile din panoul stâng */
.left-panel ul {
  list-style-type: none; /* Eliminarea stilului implicit al listei */
  padding: 0;
}

.left-panel li {
  cursor: pointer; /* Cursor de mână la hover */
  padding: 10px 0; /* Spațiere între opțiuni */
  text-align: center; /* Alinierea textului la centru */
  font-size: medium;
}

.left-panel li.active {
  background-color: rgb(247, 210, 216);
  color: white;
}

.left-panel li:hover:not(.active) {
  background-color: #c8c8c8; /* Culoare de fundal la hover */
}

/* Stiluri pentru conținutul profile-content */
.wishlist-content {
  flex: 1; /* Conținutul profile-content ocupă spațiul rămas */
  padding: 20px; /* Spațiere internă */
}

.wishlist-content h2 {
  margin-bottom: 20px; /* Spațiere între titlu și conținut */
}

/* Stilul pentru fiecare element de carte */
.book-item {
    display: flex; /* Așezarea elementelor pe orizontală */
    margin-bottom: 20px; /* Spațiere între cărți */
    margin-left: 20px;
    border: 1px solid #ccc; /* Bordură de 1 pixeli de culoare gri */
    width: 50%;
    background-color: peachpuff;
    cursor: pointer;

}
  
  /* Stil pentru imaginea cărții */
  .book-image {
    flex: 0 0 30%; /* Imaginile ocupă 30% din lățimea containerului principal */
    margin-left: 30px; /* Spațierea dintre imagine și detaliile cărții */
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* Stil pentru imagine */
  .book-image img {
    width: 100px; /* Lățimea imaginii */
    height: auto; /* Înălțimea automată pentru a menține proporțiile */
  }
  
  /* Stil pentru detaliile cărții */
  .book-details-wishlist {
    flex: 1; /* Detaliile cărții ocupă spațiul rămas */
  }
  .book-details-wishlist p {
    margin: 0; /* Eliminarea marginii pentru paragrafe */
    padding: 4px; /* Spațierea interioară */
  }
  
  /* Stil pentru titlul cărții */
  .book-details-wishlist p:first-child {
    margin-top: 10px;
    font-weight: bold; /* Textul este îngroșat */
    font-size: 18px; /* Mărimea fontului */
  }
  
  /* Stil pentru numele autorului */
  .book-details-wishlist p:last-child {
    margin-top: 5px; /* Spațierea între titlu și autor */
  }
  
/* Stil pentru butonul "Elimina" */
.remove-button {
  margin-top: 8px;
  background-color: #dc3545; 
  color: white; 
  border: none; 
  padding: 7px 10px;
  cursor: pointer; 
  border-radius: 5px; 
  outline: none; 
  text-align: center; 
  font-size: medium;
}


.remove-button:hover {
  background-color: #c82333; 
}

.borrowlist-content .book-item {
  display: flex; /* Așezarea elementelor pe orizontală */
  margin-bottom: 20px; /* Spațiere între cărți */
  margin-left: 20px;
  border: 1px solid #ccc; /* Bordură de 1 pixeli de culoare gri */
  width: 50%;
  background-color: rgb(229, 212, 233);
  cursor: pointer;
}

.daysleft-p{
  font-style: italic;
}

.red-text {
  color: red;
  font-weight: bold;
}

.blue-text {
  color: blue;
  font-weight: bold;
}

.borrow-buttons-container button{
  margin-right: 25px;
}

.borrowlist-content .extend-term-button{
  margin-top: 5px;
  background-color: #007bff; /* Culorile butonului */
  color: white; /* Culoarea textului butonului */
  border: none; /* Eliminarea marginii butonului */
  padding: 7px 10px; /* Spatiere interioara */
  cursor: pointer; /* Cursor de tip pointer la hover */
  border-radius: 5px; /* Borda rotunda */
  outline: none; /* Eliminarea stilului de contur */
  text-align: center; /* Alinierea textului la centru */
  font-size: medium;
  
}

.borrowlist-content .return-button{
  margin-top: 8px;
  background-color: #69a32b; /* Culorile butonului */
  color: white; /* Culoarea textului butonului */
  border: none; /* Eliminarea marginii butonului */
  padding: 7px 10px; /* Spatiere interioara */
  cursor: pointer; /* Cursor de tip pointer la hover */
  border-radius: 5px; /* Borda rotunda */
  outline: none; /* Eliminarea stilului de contur */
  text-align: center; /* Alinierea textului la centru */
  font-size: medium;
}

